<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanmukherjee.audiecu">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_menu_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainDrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BluetoothSPPService"
            android:exported="false" />

        <provider
            android:name=".SerialContentProvider"
            android:authorities="com.ryanmukherjee.audiecu.provider"
            android:enabled="true"
            android:exported="false"></provider>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricKey}" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>